<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
    <%= notice %>
  </p>
<% end %>
<h1 class="font-bold text-2xl">New Project</h1>
<div class="mt-4">
  <%= render "form", project: @new_project, project_update: nil %>
</div>
<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
<div id="projects">
  <h1 class="font-bold text-lg mb-7">Projects</h1>
  <div class="px-5" data-controller="projects">
    <%= render @projects %>
  </div>
</div>
